.magazine-tab {
 color: #9B9B9B;
}
.mgzTabs {
    margin-bottom: 3em;
}
.Mui-selected {
    outline: 'none',                                                                   
  }
.card {
    border: none !important;
    border-radius: 0 !important;
}
.card-title {
    font-weight: bold
}
.line{
    border-bottom: 4px solid #BF0F50;
    position: inherit;
    }
.btn-circle {
    border-radius: 6em !important;
}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 400px) {  
    span {font-size: 10px} 
    h2 {font-size:44px;}  
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    span {font-size:13px;} 
    h2 {font-size:47px;}  
}

@media (min-width: 992px) { 
    span {font-size:16px;}
    h2 {font-size:50px;}  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    span {font-size:16px;}  
    h2 {font-size:50px;}  
}
  