body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F2F2 !important;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: 'Lato', sans-serif;
}

/*Navbar*/
.header-links a {
  font-size: large;
  font-weight: 800;
  text-align: center;
  color: black;
  padding: 0.2rem;
}

.header-links :hover {
  color: #fccd26 !important;
}

.avatar {
  text-align: center;
}

.pageError {
  font-family: 'Pacifico', cursive;
}
.error {
  background: url(../src/img/background404.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-size: 30px;
  background-size: cover;
  position: fixed;
  min-height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Calendar*/
.calendar {
  width: 100%;
  text-align: center;
  font-family: system-ui, 
              "Helvetica Neue", 
              Helvetica, 
              Arial, 
              sans-serif;
  background-color: rgb(238,238,238);
}

.react-date-picker__wrapper{
  border:none !important;
}

.react-calendar__tile--active {
  display: flex;
  justify-content: center;
  align-items: center;
}

